body {
	background: #D1DEDE;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(16, 16, 82);
	text-align: center;
}

.assign {
	display: flex;
	padding: 10px;
	margin: 10px;
	background: silver;
}
.assign img {
	width: 200px;
	padding: 10px;
}